option_settings:
  aws:elasticbeanstalk:container:tomcat:jvm:
    JVM_HEAP_SIZE: 256m
  aws:elasticbeanstalk:application:environment:
    JAVA_OPTS: "-Dspring.profiles.active=prod"

commands:
  01_build:
    command: "./gradlew clean build -x test"
    leader_only: true
  02_copy_jar:
    command: "cp build/libs/*.jar application.jar"
    leader_only: true

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01_spring_boot.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eb-engine.log

  "/opt/elasticbeanstalk/tasks/publishlogs.d/01_spring_boot.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eb-engine.log

